<h3 class="mt-2 text-center text-primary">Favorites</h3>
<div class="p-2" *ngIf="(favListForm$ | async)?.length! > 0">
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let favListItem of favListForm$ | async; let i = index"
      class="list-group-item"
    >
      <form class="row">
        <div class="col-auto">
          <input
            id="favListItem_title_{{ i }}"
            type="text"
            class="form-control editable-control"
            value="{{ favListItem.title }}"
            (change)="changeTitle(favListItem, $event)"
          />
        </div>
        <div class="col-8">
          <input
            id="favListItem_dsc_{{ i }}"
            type="text"
            class="form-control editable-control"
            value="{{ favListItem.description }}"
            (change)="changeDescription(favListItem, $event)"
          />
        </div>
      </form>
      <div class="mt-2 row">
        <ul class="row">
          <li *ngFor="let image of favListItem.images" class="col-3">
            <div class="card">
              <div class="card-body">
                <img
                  src="{{ image.url }}"
                  (click)="download(image)"
                  class="card-img gallery-image"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
